/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}

#songs_table {

}
#songs_table th{
  color: #963;
}

.glyphicon:hover {
  color:red;
  cursor:pointer;
}

/*
* Top-Bar template
*/
.nav {
  float:left;
}
.navbar {
  margin-bottom: 0px !important;
}
.nav li {
  display: inline-block;
}
.nav>li>a {
  padding: 10px 10px;
}
.navbar-nav {
  margin-left:20px;
}
.navbar-header a {
  padding-right: 5px;
}
.form-group {
  margin-left: 20px !important;
    margin-right: 20px !important;
}
.tapped_back{
  background-color: beige !important;
}
.map_container {
  height:100%;
}
.map_container>.scroll{
  height:100%
}
.ng-scope{
  height: inherit;
}