<div class = "panel panel-info">
   <div class = "panel-heading">
      <h3 class = "panel-title">Songs Panel</h3>
   </div>
   <!--panel body -->
     <div class = "panel-body">
        <!-- Songs Table -->
        <table id="songs_table" class="table">
          <thead>
            <tr>
              <!-- Song Attributes -->
              <th>Song</th>
              <th>Band</th>
              <th>Youtube</th>
              <th>Chords</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in products" ng-click="vibrate($event, p)">
              <td>{{p.song}}</td>
              <td>{{p.band}}</td>
              <td><a ui-sref="youtube({video: p.youtube})">Youtube</a></td>
              <td><a href="{{p.chords}}"><i class="glyphicon glyphicon-music"></i></a></td>
            </tr>
          </tbody>
      </table>
</div>