
  <p class="lead">
    <div class = "panel panel-info">
   <div class = "panel-heading">
      <h3 class = "panel-title">Songs Panel</h3>
   </div>
   <!--panel body -->
     <div class = "panel-body">
        <!-- Songs Table -->
        <table id="songs_table" class="table">
          <thead>
            <tr>
              <!-- Song Attributes -->
              <th>Song</th>
              <th>Band</th>
              <th>Youtube</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in products" ng-click="vibrate($event, song)">
              <td>{{p.song}}</td>
              <td>{{p.band}}</td>
              <td><a href="{{p.youtube}}">Youtube</a></td>
              <td><i ng-click="removeSong(p)" class="glyphicon glyphicon-remove"></i></td>
            </tr>
          </tbody>
      </table>
        
  </p>
 
</div>